@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <a class="btn btn-primary" asp-action="ViewTrend" asp-controller="Place" style="width=10000">
        View Trend
    </a>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Place" style="width=10000">
        View Places
    </a>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-secondary" asp-action="Index" asp-controller="Area">
        Open Areas
    </a>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-warning" asp-action="Index" asp-controller="Favourite">
        View Your Favourites
    </a>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-info" asp-action="Index" asp-controller="Category">
        Filter
    </a>
</div>
