@model AddAreaViewModel
@{
    ViewData["Title"] = "Edit Area";
}
<h2>Edit Area</h2>
<hr />
<form method="post" asp-action="Edit">
    <div class="form-group">
        <input hidden asp-for="Id" />
        <label asp-for="Name">Place Area</label>
        <input asp-for="Name"class="form-control"/>
        <span class="text-danger" asp-validation-for="Name"></span>
             
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>